<!-- home.html -->
<div class="jumbotron text-center">
    <h1>{{ category.name }}</h1>
	
	<img src="{{category.image}}"/>

	<!-- Children -->
	<div ng-show="category.links.children.length > 0">
		<h3> Categories </h3>

		<div ng-repeat="categoryID in category.links.children" ng-controller="categoryController">
			<a href="#category/{{categoryID}}">
				<p> {{ category.name }} </p>
			</a>			
		</div>
	</div>

	<!-- Products -->
	<div ng-show="category.links.products.length > 0">
		<h3> Products </h3> <button class="btn btn-default">Add a Product</button>

		<div ng-repeat="productID in category.links.products" ng-controller="productController">
			<a href="#product/{{productID}}">
				<p> {{ product.name }} </p>
			</a>
		</div>
	</div>
</div>