<!-- home.html -->
<div class="jumbotron text-center">
    <h1>{{ category.name }}</h1>
	
	
	<img class='' src="{{category.image}}"/><br><br>

	<div class='row col-sm-offset-2'>
		<form-field class='el-centered' ng-repeat='(k,v) in category | keyFilter :"id"  | keyFilter :"links"' record='category' rawrecord='categoryToModify' field='{{k}}' live='true' recordtype='category' required='true'></form-field>
	</div>
	

	<!-- Children -->
	<div ng-show="category.links.children.length > 0">
		<h3> Categories </h3>

		<div ng-repeat="categoryID in category.links.children" ng-controller="categoryController">
			<a ng-href="#category/{{categoryID}}" ng-click="saveParentId()">
				<p> {{ category.name }} </p>
			</a>			
		</div>
	</div>
	<button class="btn btn-primary" ng-click='newCategory()'>Add a Category</button>

	<!-- Products -->
	<div ng-show="category.links.products.length > 0">
		<h3> Products </h3> 

		<div ng-repeat="productID in category.links.products" ng-controller="productController">
			<a href="#product/{{productID}}">
				<p> {{ product.name }} </p>
			</a>
		</div>
	</div>
	<button class="btn btn-primary" ng-click='newProduct()'>Add a Product</button>

	<div class='row form-group'>
		<div class='col-sm-offset-4'>
			<button class='btn btn-danger' ng-click='delete()'>Delete {{ category.name }}</button>
		</div>
	</div>

	
</div>