<!-- home.html -->
<div class="jumbotron text-center">
    <h1>{{ retailer.name }}</h1>
	<div class='row'>
	<img src="{{retailer.image}}"/>

	<div class='col-sm-offset-4'>
		<form-field  ng-repeat='(k,v) in retailer | keyFilter :"id"  | keyFilter :"links"' record='retailer' rawrecord='retailerToModify' field='{{k}}' live='true' recordtype='retailer'></form-field>
	</div>
	</div>
	

	<div ng-show="retailer.links.defaultCategories.length > 0">
		<h3> Default Categories </h3>

		<div ng-repeat="categoryID in retailer.links.defaultCategories" ng-controller="categoryController">
			<a href="#category/{{categoryID}}">
				<p> {{ category.name }} </p>
			</a>
		</div>
		<button class="btn btn-default" ng-click='newDefaultCategory()'>Add a Default Category</button>
	</div>
</div>